<ion-view view-title="Welcome">
    <ion-content>
        <div class="login-container" ng-controller="loginCtrl">
            <div class="login-input-form">
                <form class="list list-inset" ng-submit="loginUser()">
                    <label class="item item-input">
                        <input type="text" placeholder="email" ng-model="userEmail">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="password" ng-model="userPassword">
                    </label>
                    <div class="login-buttons row">
                        <button class="button button-dark col">Login</button>
                        <span class="col-10"></span>
                        <button class="button button-dark col">Sign-Up</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>