<ion-header-bar class="bar-positive">
    <h1 class="title">Sign-Up</h1>
</ion-header-bar>

<ion-view view-title="Account Signup">
    <ion-content>
        <!--INSERT HTML HERE FOR LOGIN PAGE-->

        <div class="signup-container" ng-controller="signupCtrl">
            <div class="test-login">
            </div>

            <form class="list" ng-submit="addUser()">
                <label class="item item-input">
                    <input type="text" placeholder="First Name" ng-model="newUserFirstName">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name" ng-model="newUserLastName">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="User Name" ng-model="newUserUsername">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="newUserPassword">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Re-enter Password" ng-model="newUserPasswordConfirm">
                </label>
                <label class="item item-input">
                    <input class="item item-input" type="text" placeholder="Email Address" ng-model="newUserEmail">
                </label>

                <!--Sign up needs to have validation attached to it.-->
                <button type="submit" class="button button-dark signUp-btn button-block">Sign Up!</button>
            </form>
        </div>
    </ion-content>
</ion-view>