<ion-view view-title="login">
    <ion-content>
        <!--INSERT HTML HERE FOR LOGIN PAGE-->


        <div class="test-login">
            <h1>Account Sign-Up</h1>
        </div>


        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <br/>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <br/>
            <label class="item item-input">
                <input type="text" placeholder="User Name">
            </label>
            <br/>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <br/>
            <label class="item item-input">
                <input type="text" placeholder="Re-enter Password">
            </label>
            <br/>
            <label class="item item-input">
                <input type="text" placeholder="Email Address">
            </label>
        </div>
        <br/>
        <div>
            <button class="button button-large button-dark signUp-btn">
                Sign-Up
            </button>
        </div>
    </ion-content>
</ion-view>