<ion-header-bar class="bar-positive">
    <button class="icon ion-navicon button button-clear"></button>
    <!--Go To Home, Stream, Community, -->

    <h1 class="title">Account</h1>
</ion-header-bar>
<ion-view view-title="Chats">
    <ion-content>
        <div class="community-container" ng-controller="gripsCtrl">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
            <div class="open-grips">
                <h6>Open Grips</h6>
                <div class="grip-card-and-button" style="margin-left:{{randomMargin}}px">
                    <div class="grip-card">
                        <div class="grip-card-header">

                            <div class="grip-card-type-icon" style="background-image:url({{friend.avatar}})"></div>
                        </div>
                        <div class="grip-card-askee row">
                            <div class="col-50">
                                <div class="row">
                                    <div class="grip-card-askee-avatar col-20" style="background-image:url(http://vignette4.wikia.nocookie.net/logopedia/images/5/5c/McDonald's_Philippines_logo_2011.svg)"></div>
                                    <div class="grip-card-askee-name col">
                                        <h5>McDonald's</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grip-card-question">
                            <h2>How do you make a chicken McNugget?</h2>
                        </div>
                        <div class="grip-card-askers-details">
                            <h1 class="grip-card-points row">8,901 <span><h6>Votes</h6></h1>
                        </div>

                    </div>
                    <div class="grip-card-button col">
                        <button class="grip-card-big-request-button button button-outline button-positive">+1</button>
                    </div>
                </div>
                <div class="grip-card-and-button">
                    <div class="grip-card">
                        <div class="grip-card-header">

                            <div class="grip-card-type-icon" style="background-image:url({{friend.avatar}})"></div>
                        </div>
                        <div class="grip-card-askee row">
                            <div class="col-50">
                                <div class="row">
                                    <div class="grip-card-askee-avatar col-20" style="background-image:url(http://vignette4.wikia.nocookie.net/logopedia/images/5/5c/McDonald's_Philippines_logo_2011.svg)"></div>
                                    <div class="grip-card-askee-name col">
                                        <h5>McDonald's</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grip-card-question">
                            <h2>How do you make a chicken McNugget?</h2>
                        </div>
                        <div class="grip-card-askers-details">
                            <h1 class="grip-card-points row">8,901 <span><h6>Votes</h6></h1>
                        </div>

                    </div>
                    <div class="grip-card-button col">
                        <button class="grip-card-big-request-button button button-outline button-positive">+1</button>
                    </div>
                </div>

            </div>
            <div class="closed-grips">

            </div>
        </div>
    </ion-content>
</ion-view>