<ion-view view-title="Account">
    <ion-content>
        <div class="account-main container" ng-controller="AccountCtrl">
            <div class="account-top-section row">
                <div class="col col-50">
                    <img class="avatar" src="{{user.avatar}}" />
                </div>
                <div class="account-header-info col col-50">
                    <div class="account-badges row">
                        <i class="col badge badge-1 icon ion-videocamera"></i>
                        <i class="col badge badge-2 icon ion-playstation"></i>
                        <i class="col badge badge-3 icon ion-map"></i>
                        <i class="col badge badge-4 icon ion-ios-mic"></i>
                        <i class="col badge badge-about icon ion-help-circled"></i>
                    </div>
                    <div class="rating-stars row">
                        <div class="rating-star-rating col-60 row">
                            <div class="star-1 col">
                                <i class="icon ion-ios-star"></i>
                            </div>
                            <div class="star-2 col">
                                <i class="icon ion-ios-star"></i>
                            </div>
                            <div class="star-3 col">
                                <i class="icon ion-ios-star"></i>
                            </div>
                            <div class="star-4 col">
                                <i class="icon ion-ios-star-half"></i>
                            </div>
                            <div class="star-5 col">
                                <i class="icon ion-ios-star-outline"></i>
                            </div>
                        </div>
                        <div class="rating-number col row">
                            <h4>{{user.rating}}</h4>
                        </div>
                    </div>
                    <div class="location">
                        <h5>{{user.locationCity}}, {{user.locationState}}</h5>
                        <h5>{{user.locationCountry}}</h5>
                    </div>
                </div>
            </div>
            <div class="username row">
                <div class="col-80">
                    <h1 class="account-username row">@{{user.username}}</h1>
                    <p class="row">{{user.bio}}</p>
                </div>
            </div>
            <div class="account-info-buttons">
                <button class="account-edit-info button button-small button-outline button-light" ng-click="">edit info</button>
                <button class="account-logout button button-small button-clear button-assertive" ng-click="">logout</button>
            </div>
            <div class="account-bottom-section">
                <div class="account-grips-views-section">
                    <div class="account-grips-section">
                        <h6 class="grips-section-title">Upcoming Grips</h6>
                        <div class="account-upcoming-grips">
                            <div class="upcoming-grip">
                                <img class="upcoming-grip-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>

                            <!--<div class="upcoming-grip">
                                <img class="upcoming-grip-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>

                            <div class="upcoming-grip">
                                <img class="upcoming-grip-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>-->

                            <div class="upcoming-grip-buttons">
                                <button class="button button-small button-outline button-dark">Browse Grips</button>
                                <button class="button button-small button-outline button-dark">Create Grip</button>
                            </div>
                        </div>
                    </div>
                    <div class="account-views-section">
                        <h6 class="views-section-title">Upcoming Views</h6>
                        <div class="account-upcoming-views">
                            <div class="upcoming-view col-50">
                                <img class="upcoming-view-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>

                            <div class="upcoming-view col-50">
                                <img class="upcoming-view-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>

                            <div class="upcoming-view col-50">
                                <img class="upcoming-view-thumbnail" src="" />
                                <h5>MoMA Opening</h5>
                                <p>3-04-2016</p>
                            </div>

                            <div class="upcoming-view-buttons col-50">
                                <button class="button button-small button-outline button-dark">Browse Views</button>
                                <button class="button button-small button-outline button-dark">Request a View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-friends-section">
                    <h6>Friends</h6>
                    <div class="account-friend row" ng-repeat="friend in user.friends">
                        <div class="col">
                            <img class="account-friend-avatar" src="{{friend.avatar}}" />
                        </div>
                        <div class="account-friend-info col-80 col-offset-20">
                            <div class="row">
                                <h3 class="account-friend-username col-80">{{friend.username}}</h3>
                            </div>
                            <div class="row">
                                <div class="rating-stars col-33 row">
                                    <div class="account-friend-star-1 col">
                                        <i class="icon ion-ios-star"></i>
                                    </div>
                                    <div class="account-friend-star-2 col">
                                        <i class="icon ion-ios-star"></i>
                                    </div>
                                    <div class="account-friend-star-3 col">
                                        <i class="icon ion-ios-star"></i>
                                    </div>
                                    <div class="account-friend-star-4 col">
                                        <i class="icon ion-ios-star-half"></i>
                                    </div>
                                    <div class="account-friend-star-5 col">
                                        <i class="icon ion-ios-star-outline"></i>
                                    </div>
                                </div>
                                <div class="account-friend-badges col-66 row">
                                        <i class="account-friend-badge friend-badge-1 icon ion-contrast"></i>
                                        <i class="account-friend-badge friend-badge-2 icon ion-music-note"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>